body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-outline-success{
  color: rgba(128, 128, 128, 0.185);
  border-color: white;
}
.header-bottom {
  margin-bottom: 55px;
}
.sign-up-container{
  max-width: 700px;
  margin-top: 20%;
}
.about-us-container{
  margin-top: 200px;
  width: 680px;
}